<h1>Tasks</h1>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<div class="col-4">
<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>Project ID</td>
			<td>Title</td>
			<td>Description</td>
			<td>Requested at</td>
			<td>Deadline</td>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
	 <% @tasks.each do |task|%>
	 	<tr>
	 		<td><%= task.id %></td>
	 		<td><%= task.project_id %></td>
	 		<td><%= task.title %></td>
	 		<td><%= task.description %></td>
	 		<td><%= task.created_at %></td>
	 		<td><%= task.deadline_at %></td>
	 		<td><%= link_to 'Show', task %></td>
	 		<td><%= link_to 'Edit', edit_task_path(task) %></td>
	 		<td><%= link_to('Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
	 	</tr>
	 <% end %>	
	</tbody>
	<%= link_to 'New Task', new_task_path %>
</table>
</div>