<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.name, @task.project %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline_at.to_s(:long) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
<br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Delete', task_path(@task), method: :delete %> |
<%= link_to 'Back', tasks_path %>
<%= render partial: "comments/form", comment: @comment, task: @task %>
<%= render partial: "comments/list", comments: @comments %>
